.containerAddTasks {
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    padding: 5px;
    margin: 10px 0;
}

.title-newTask {
    border: none;
    width: 100%;
    outline: none;
    font-weight: bolder;
    font-size: 14px;
    padding: 7px 0;
    margin-left: 5px;
}

.description-newTask {
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    width: 99%;
    margin-left: 2px
}

.input-tag {
    padding: 8px;
}

.tags-border .clearDateIcon {
    margin-left: 10px;
    margin-right: 0px;
}

.tags-border {
    border: 1px solid #c2b8b7;
    border-radius: 5px;
    padding: 7px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.clearDateIcon {
    margin-right: 5px;
    fill: #d1b1b2;
    cursor: pointer;
}

.input-date, .input-tag {
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    padding: 5px;
    margin-right: 5px;
    outline: none;
}

input[type="date"i]::-webkit-calendar-picker-indicator {
    margin: 0;
}

.taskButton {
    display: flex;
    justify-content: space-between;
}

.limit {
    float: right;
    font-size: 12px;
    color: #c4c4c4;
}

.icon.plus {
    padding: 5px 8px;
}

@media (max-width: 1280px) {
    .btn {
        margin-left: 2px;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #d1b1b2bf;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 35%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #d1b1b2bf transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}