.taskCreated {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 34px;
    border-top: 1px solid #dedede;
    margin-bottom: 12px;
    padding-top: 10px;
}

.p-relative {
    position: relative;
} 

.taskCreated>div:nth-of-type(1) {
    cursor: pointer;
}

.iconCheck {
    margin-right: 5px;
    fill: #273454;
    width: 16px;
}

.moreAction {
    cursor: pointer;
    color: #273454;
    margin-left: 10px;
}


.popupMoreContainer {
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 1000;
}

.popupMoreContainer .listItens {
    display: grid;
    justify-items: center;
    justify-items: start;
    background-color: #d1b1b2;
}

.popupMoreContainer .listItens .item {
    cursor: pointer;

    display: flex;
    align-items: center;

    width: 100%;
    padding: 11px 29px;
   
    font-weight: bold;
    color: #fff;

    background-color: #d1b1b2;
    border: none;;
}

.popupMoreContainer .listItens .item:hover {
    background-color: #ecdddd;
}

.popupMoreContainer .listItens .item svg {
    margin-right: 15px;
    font-size: 18px;
}

.iconsTask {
    width: 45px;
}

.taskInformation {
    display: grid;
}

.taskTextChecked {
    text-decoration: line-through;
}

.taskDescription {
    color: #a0a0a0;
    font-size: 14px;
}

.date-border {
    display: flex;
    align-items: center;

    border-radius: 5px;
    padding: 7px 10px;
    margin-right: 5px;

    background-color: #c2b8b7;
    color: #fff;
}

.formOpen {
    list-style: none;
    border-top: 1px solid #dedede;
    margin-bottom: 18px;
    padding-top: 10px;
}